.loading-overlay{
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba($color: #000000, $alpha: 0.25);

    z-index: 9999;
}
